/*font*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*variables*/
:root{
    --ff-primary: "Inter", "sans-serif";
    --clr-green: hsl(75, 94%, 57%);
    --clr-grey700: hsl(0, 0%, 20%);
    --clr-grey800: hsl(0, 0%, 12%);
    --clr-grey900: hsl(0, 0%, 8%);
}

/*global*/
* {
    box-sizing: border-box;
  }
body{
    background-color: var(--clr-grey900);
    margin: 0;
}
h1{
    color: white;
    font-family: var(--ff-primary);
    font-size: 20px;
    font-weight: 500;
}
h2{
    color: var(--clr-green);
    font-family: var(--ff-primary);
    font-size: 12px;
    font-weight: 600;
}
p{
    color: white;
    font-family: var(--ff-primary);
    font-size: 12px;
    font-weight: 300;
}
button{
    transition-duration: 0.3s;
}


/*other*/
.hero{
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}
.center-container{
    width: 20vw;
    min-width: 300px;
    /*height: 60vh;
    min-height: 437px;*/
    background-color: var(--clr-grey800);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 29px;
    padding-bottom: 23px;
    border-radius: 6px;
}
#profile{
    width: 70px;
    height: 70px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
}
#username{
    margin-top: 16px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}
#country{
    margin: 0 auto 0 auto;
    
}
#bio{
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 14px;
}
.links-container{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}
.link-btn{
    font-family: var(--ff-primary);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--clr-grey700);
    border-style: none;
    color: white;
    min-width: 246px;
    margin: 6px 0px 6px 0px;
    padding: 12px 0px 12px 0px;
    border-radius: 6px;
    
}
.link-btn:hover{
    background-color: var(--clr-green);
    color: var(--clr-grey900);
}

